<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Modal Panel</title>
</head>
<body>
<wicket:panel>
    <form wicket:id="dynamicForm">
        <div class="form-group">
            <h2>
                <label class="form-control-plaintext" wicket:id="formTitle"/>
            </h2>
        </div>
        <div class="form-group" wicket:id="fragments"/>
        <div class="form-row">
            <button type="submit" wicket:id="submit" class="btn btn-primary"><span wicket:id="submitName"/></button>
            <button type="button" wicket:id="reset" class="btn btn-primary"><span wicket:id="resetName"/></button>
        </div>
    </form>
    <wicket:fragment wicket:id="textFragment">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" wicket:id="textLabel"/>
            </div>
            <label wicket:id="text" class="form-control"/>
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="fileUploadFragment">
        <div class="form-group">
            <label wicket:for="file" class="form-label">File</label>
            <input class="form-control" wicket:id="file" type="file"/>
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="selectFragment">
        <div class="input-group mb-3">
            <div class="form-group">
                <label class="form-label-inline" wicket:for="select"><Span wicket:id="selectLabel"/></label>
                <select class="form-control" wicket:id="select"/>
            </div>
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="listFragment">
        <div class="input-group mb-3">
            <div class="form-group">
                <div wicket:id="listWrapper">
                    <div wicket:id="listForm"/>
                </div>
            </div>
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="textBoxFragment">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" wicket:id="textBoxLabel"/>
            </div>
            <input type="text" class="form-control" wicket:id="textBox">
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="checkBoxFragment">
        <div class="input-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" wicket:id="checkBox">
                <label class="form-check-label" wicket:id="checkBoxLabel"/>
            </div>
        </div>
    </wicket:fragment>
</wicket:panel>
</body>
</html>