<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Modal Panel</title>
</head>
<body>
<wicket:panel>
    <table class="table table-sm">
        <thead class="thead-dark">
        <th wicket:id="columnHeader" scope="col"><span wicket:id="columnLabel"/></th>
        </thead>
        <tbody>
        <tr class="cursor-pointer" wicket:id="tuple">
            <td wicket:id="column"><span wicket:id="content"/></td>
        </tr>
        </tbody>
        <!--        <div class="form-group">-->
        <!--            <h2>-->
        <!--                <label class="form-control-plaintext" wicket:id="formTitle"/>-->
        <!--            </h2>-->
        <!--        </div>-->
        <!--        <div class="form-group" wicket:id="fragments"/>-->
        <!--        <div class="form-row">-->
        <!--            <button type="submit" wicket:id="submit" class="btn btn-primary"><span wicket:id="submitName"/></button>-->
        <!--            <button type="button" wicket:id="reset" class="btn btn-primary"><span wicket:id="resetName"/></button>-->
        <!--        </div>-->
    </table>
    <!--    <wicket:fragment wicket:id="textFragment">-->
    <!--        <div class="input-group mb-3">-->
    <!--            <div class="input-group-prepend">-->
    <!--                <label class="input-group-text" wicket:id="textLabel"/>-->
    <!--            </div>-->
    <!--            <label wicket:id="text" class="form-control"/>-->
    <!--        </div>-->
    <!--    </wicket:fragment>-->
    <!--    <wicket:fragment wicket:id="fileUploadFragment">-->
    <!--        <div class="form-group">-->
    <!--            <label wicket:for="file" class="form-label">File</label>-->
    <!--            <input class="form-control" wicket:id="file" type="file"/>-->
    <!--        </div>-->
    <!--    </wicket:fragment>-->
    <!--    <wicket:fragment wicket:id="selectFragment">-->
    <!--        <div class="input-group mb-3">-->
    <!--            <div class="form-group">-->
    <!--                <label class="form-label-inline" wicket:for="select"><Span wicket:id="selectLabel"/></label>-->
    <!--                <select class="form-control" wicket:id="select"/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </wicket:fragment>-->
    <!--    <wicket:fragment wicket:id="textBoxFragment">-->
    <!--        <div class="input-group mb-3">-->
    <!--            <div class="input-group-prepend">-->
    <!--                <label class="input-group-text" wicket:id="textBoxLabel"/>-->
    <!--            </div>-->
    <!--            <input type="text" class="form-control" wicket:id="textBox">-->
    <!--        </div>-->
    <!--    </wicket:fragment>-->
</wicket:panel>
</body>
</html>